<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<description>
      Resuelve formula de ecuacion cuadratica
    </description>
	<display-name>CuadraticEquation</display-name>
	<servlet>
		<servlet-name>CuadraticEquation</servlet-name>
		<servlet-class>CuadraticEquation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CuadraticEquation</servlet-name>
		<url-pattern>/eq</url-pattern>
	</servlet-mapping>
</web-app>